//Variables
$default-gap: 10px;
$default-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.15);
$default-border-circle: 2px solid rgba(0, 0, 0, 1);

//Sizes
$font-size-32: 32px;
$font-size-regular: 18px;

//Media Query
@mixin media-screen-phones {
    @media screen and (min-device-width: 320px) and (max-device-width: 414px) {
        @content
    }
}

//Layout Style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    a {
        text-decoration: none;
        cursor: pointer;
    }

    p {
        font-weight: 400;
        font-size: $font-size-regular;
        margin: 0 0 $default-gap * 2;
    }

    img {
        width: 100%;
    }


    .circle {
        position: absolute;
        height: 60px;
        width: 60px;
        border: $default-border-circle;
        border-radius: 50%;
        background: white;
        top: $default-gap * 6.8;
        left: $default-gap * -3.1;
        z-index: 3;
    }

    .line-circle {
        position: absolute;
        height: 60px;
        width: 60px;
        border: $default-border-circle;
        border-radius: 50%;
        background: white;
        left: $default-gap * -3.1;
        z-index: 3;
    }

    .line {
        position: relative;
        width: 2px;
        background: black;
        margin: 0 $default-gap * 3;

        .circle {
            position: absolute;
            height: 30px;
            width: 30px;
            border: 2px solid black;
            border-radius: 50%;
            top: 23px;
            left: -14px;
            background: white;
        }

        @include media-screen-phones {
            display: none;
        }
    }

    .container {
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        grid-column-gap: $default-gap;
        min-height: 550px;
        box-shadow: $default-box-shadow;
        padding: $default-gap * 4.5 $default-gap * 3;
    }

    .title {
        font-size: $font-size-32;
        font-weight: normal;
        margin: 0 0 $default-gap * 2;
    }

    .description {
        font-size: $font-size-regular;
        margin: 0 0 $default-gap * 2;
    }

    .links {
        display: grid;
        grid-template-columns: repeat(3, min-content);
        grid-column-gap: $default-gap;
        align-items: center;

        & img {
            width: $default-gap * 3.5;
            height: $default-gap * 3.5;
            cursor: pointer;

            &:hover {

            }
        }
    }

    .header-overlay {
        position: fixed;
        height: 100px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 2;

        &.deactivate {
            display: none;
        }

        @include media-screen-phones {
            display: none;
        }
    }

    //Layout
    .landing {
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        border-left: 2px solid rgba(0, 0, 0, 0.25);

        header {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;

            .circle {
                top: auto;
            }

            .line-circle {
                @include media-screen-phones {
                    display: none;
                }
            }

            .header-container {
                position: relative;
                display: flex;
                justify-content: center;

                .title {
                    margin: 0;

                    @include media-screen-phones {
                        font-size: 2em;
                        text-align: center;
                        padding: $default-gap * 4.5 $default-gap * 3;
                    }
                }

                .circle-links {
                    position: absolute;
                    top: $default-gap * 7;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-gap: $default-gap * 3;
                    text-align: center;
                    z-index: 3;

                    .circle {
                        position: relative;
                        left: auto;
                        margin: auto;
                        animation: radiant-pulse 2s infinite ease-in-out;
                    }

                    &.sticky {
                        position: fixed;
                        top: $default-gap;
                    }

                    a {
                        color: black;

                        .description {
                            margin: $default-gap 0 0;
                            opacity: 0;
                            transition: 0.4s ease;
                            transform: translateY(-10px);
                        }

                        &:hover {
                            .description {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }
                    }

                    @include media-screen-phones {
                        display: none;
                    }
                }

                @keyframes radiant-pulse {
                    0% {
                        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
                    }

                    100% {
                        box-shadow: 0 0 0 7px rgba(0, 0, 0, 0);
                    }
                }
            }
        }

        .content-block {
            position: relative;
            padding-top: $default-gap * 10;

            //About
            .about {
                .img {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    box-shadow: $default-box-shadow;
                }

                .info {
                    max-width: 420px;
                }

                @include media-screen-phones {
                    grid-template-columns: none;
                    grid-template-rows: repeat(2, min-content);
                    grid-row-gap: $default-gap * 2.5;
                }
            }

            //Experience
            .experience {
                .description {
                    margin: $default-gap * 2.8 0;
                    text-align: right;

                    @include media-screen-phones {
                        margin: 0;
                        text-align: left;
                    }
                }

                .where {
                    margin: $default-gap * 2 0;
                }

                @include media-screen-phones {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: flex-end;
                }
            }

            //Contacts
            .contacts {
                margin-bottom: $default-gap * 10;
                min-height: inherit !important;

                .title {
                    text-align: right;
                    margin: 0;

                    @include media-screen-phones {
                        text-align: center;
                        font-size: 1.7em;
                    }
                }

                .contacts-links {
                    display: flex;
                    align-items: center;

                    .links {
                        @include media-screen-phones {}
                        grid-column-gap: $default-gap * 2;
                    }

                    img {
                        @include media-screen-phones {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    @include media-screen-phones {
                        justify-content: center;
                    }
                }

                @include media-screen-phones {
                    grid-template-columns: none;
                    grid-template-rows: repeat(2, 1fr);
                    grid-row-gap: $default-gap;
                }
            }

            //Media Query
            .circle {
                @include media-screen-phones {
                    display: none;
                }
            }
        }
    }
}
