//COLORS
$black:                         #000000;
$half-black:                    #848484;
$gray:                          #dcdcdc;
$white:                         #ffffff;

//DEFAULT
$default-margin:                10px;
$default-padding:               10px;
$default-border-circle:         2px solid $black;
$default-border-radius:         10px;

//FONT-SIZE
$font-size-title:               32px;
$font-size-subtitle:            20px;
$font-size-regular:             18px;
$font-size-small:               14px;

//VARIABLES
$container-box-shadow:          0 0 10px 4px $gray;
$container-border-radius:       0 10px 10px 0;
$navigation-box-shadow:         0 0 1px 2px rgba(0, 0, 0, 0.15);
